!config/
config/*
!kde4/
kde4/*
!local/share/
local/share/*
!config/autostart-scripts/
!config/dolphinrc
!config/kcminputrc
!config/kcmshell5rc
!config/konsolerc
!config/ksplashrc
!config/latte
!config/lattedockrc
!config/plasmarc
!config/plasma-workspace
!config/QtProject.conf
!config/systemsettingsrc
!config/akonadi
!config/akregatorrc
!config/autostart
!config/dconf
!config/gconf
!config/gtk-3.0
!config/gtkrc
!config/gtkrc-2.0
!config/kactivitymanagerdrc
!config/kalarmrc
!config/kateschemarc
!config/kconf_updaterc
!config/kdeglobals
!config/kglobalshortcutsrc
!config/khotkeysrc
!config/kmail2rc
!config/kmixrc
!config/korgacrc
!config/krunnerrc
!config/kscreenlockerrc
!config/kwinrc
!config/plasma-localerc
!config/plasma-nm
!config/plasma-org.kde.plasma.desktop-appletsrc
!config/plasmashellrc
!config/plasma-workspace
!config/powerdevilrc
!config/powermanagementprofilesrc
!config/startupconfig
!config/startupfiles
!config/startupconfigkeys
!config/Trolltech.conf
!config/webengineurlinterceptoradblockrc
!local/share/akonadi
!local/share/dolphin
!local/share/knewstuff3
!local/share/konsole
!local/share/kxmlgui5
!local/share/plasma
!local/share/sddm
