!config/
config/*
!kde4/
kde4/*
!local/
local/*
!local/share/
local/share/*
!config/autostart-scripts/
!config/dolphinrc
!config/kcminputrc
!config/kcmshell5rc
!config/konsolerc
!config/ksplashrc
!config/latte
!config/lattedockrc
!config/plasmarc
!config/plasma-workspace
!config/QtProject.conf
!config/systemsettingsrc
!local/share/akonadi
!local/share/dolphin
!local/share/knewstuff3
!local/share/konsole
!local/share/kxmlgui5
!local/share/plasma
