[Desktop Entry]
Icon=audio-x-mpegurl
Name=7 - Rock 1.m3u
Type=Link
URL[$e]=file://$HOME/Music/playlists/MariePlaylists/7%20-%20Rock%201.m3u
X-KDE-LastOpenedWith=amarok
