[Desktop Entry]
Icon=audio-x-mpegurl
Name=8 - All Country.m3u
Type=Link
URL[$e]=file://$HOME/Music/playlists/MariePlaylists/8%20-%20All%20Country.m3u
X-KDE-LastOpenedWith=amarok
