[Desktop Entry]
Icon=audio-x-mpegurl
Name=8 5.m3u
Type=Link
URL[$e]=file://$HOME/Music/playlists/MariePlaylists/8%205.m3u
X-KDE-LastOpenedWith=amarok
