[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bradyn/Desktop/cemu-2.desktop]
row=4
col=0

[/home/bradyn/Desktop/Rivals of Aether.url]
row=5
col=0

[/home/bradyn/Desktop/rivals-of-aether-7.desktop]
row=6
col=0

[2018-04-25-06-27-07-00]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/bradyn]
row=3
col=0

