[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bradyn/Desktop/Home.desktop]
row=5
col=0

[8ea71a64-7e96-4fec-b06e-41134696fea6]
row=2
col=0

[71352c05-c6f3-4f78-95e0-9e0c77f504f4]
row=0
col=0

[BB25-4EF9]
row=1
col=0

[/]
row=3
col=0

[/home/bradyn]
row=4
col=0

