[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=caps to super
Comment=binds caps as a super key
Exec=/usr/bin/setxkbmap -option "caps:super"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

